<h3>Edit Profile</h3>

  <div>
  	<%= form_for @user, url: user_path(@user), method: :patch do |f| %>

  	<div>
  	<%= f.text_field :first_name, placeholder: "First Name" %> <%= f.text_field :last_name, placeholder: "Last Name" %>
  	</div>
  	
    <div>
  	<%= f.text_field :email, placeholder: "Email" %> 
  	</div>

  	<div>
  	  <%= f.password_field :password, placeholder: "Password" %> <%= f.password_field :confirm_password, placeholder: "Confirm Password" %>
  	</div>


    <div>
      <%= f.text_field :gender, placeholder: "Gender" %>
    </div>

  	<div>
  	  <%= f.text_field :age, placeholder: "Age" %>
  	</div>

  	<div>
  	  <%= f.text_field :height, placeholder: "Height" %>
  	</div>

  	<div>
  	  <%= f.text_field :weight, placeholder: "Weight" %>
  	</div>


  	<%= f.submit "Update Profile" %>
  	<%end%>
  </div>