<div id="user_show">
  <h3>Welcome, <%= @user.first_name %> <%=@user.last_name%></h3>

  <p>Age: <%=@user.age%></p>
   <p>Gender: <%=@user.gender%></p>
    <p>Weight: <%=@user.weight%> lbs</p>
     <p>Height: <%=@user.height%> in</p>

    <div class = "button">
      <a class="waves-effect waves-light btn">
      <%= button_to "Edit Profile", edit_user_path, :method => :get %></a>
    </div>

    <div>
    	<p>Your Creations</p>
    	<li>
    		<% @foods.each do |food| %>
    		<p><%= food.name %></p>
    		<p><%= food.exercise %> </p>
    		<p><%= food.time %> mins</p>
    		<p><%= food.calories%> cals</p>
    		<%end%>
    	</li>

    </div>

</div>