<h1> Pick Your Exercise </h1>

	<p>Food: <%=@foodName%></p> 
	<p>Calories: <%=@foodCal%></p>

<div>
		
		<li>Running
		<p>Time: <%=@time_running%> mins</p>

		</li>
		<li>Walking
		<p>Time: <%=@time_walking%> mins</p>

		</li>
		<li>Swimming
		<p>Time: <%=@time_swimming%> mins</p>

		</li>



</div>


