<nav class="orange darken-4">
  <div class="nav-wrapper" >
    
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user != nil %>
        <li><%= link_to "Profile", user_path(current_user)%>
        <li><%= link_to "Search Food", '/food/search' %>
        <li><%= link_to "Logout", '/sessions', method: :delete %></li>
      <% else %>
        <li><%= link_to "Signup", new_user_path(@user) %></li>
        <li><%= link_to "Login", '/sign_in' %></li>
      <% end %>
    </ul>
  </div>
</nav>





