<h3>Sign Up</h3>

<div class='container'>
  <%= form_for @user do |f| %>
    <div>
      <%= f.text_field :first_name, placeholder: "First Name" %>
    </div>
    <div>
      <%= f.text_field :last_name, placeholder: "Last Name" %>
    </div>
    <div>
      <%= f.text_field :email, placeholder: "Email" %>
    </div>
    <div>Picture:
      <%= f.hidden_field :image_url, role: "uploadcare-uploader" %>
      <input type="submit" value="Upload Picture" hidden='true'>
    </div>

    <div>
      <%= f.password_field :password, placeholder: "Password" %>
    </div>

    <div class="center-align"> 
    <%= f.submit "Sign Up", :class => "waves-effect waves-light btn" %>
    </div>
  <% end %>
  
</div>